@import 'tailwindcss';

@theme {
  --color-primary: #0054a3;
  --color-accent: #059669;
  --color-background-light: #f5f7f8;
  --color-background-dark: #0f1923;

  --font-display: 'Inter', sans-serif;

  --border-radius-default: 0.375rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999px;
}
