@import 'tailwindcss';

@theme {
  --color-primary: #0057d1;
  --color-accent-green: #00c853;
  --color-background-light: #f5f7f8;
  --color-background-dark: #0f1723;

  --font-display: 'Space Grotesk', sans-serif;

  --border-radius-default: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999px;
}
